.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 2fr 2fr;
  padding: 5px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.grid_header {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
