.body{
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultsWrapper{
    width: 80%;
    min-height: 642px;
    justify-content: center;
    display: flex;
    position: relative;
}

.noDataToDisplayP{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #616161;
    width: 237px;
    height: 38px;
    margin-top: 276px;
}

.dataWrapper{
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    color: #000000;
    align-items: center;
    position: relative;
}

.gridHeaders{
    width: 100%;
    height: 40px;
    display: inline-flex;
    margin-top: -5px;;
}

.itemsWrapper{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 520px;
    width: 100%;
    max-width: 1020px;
}

.loadingWrapper{
    display: flex;
    background-color: #616161;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
}

.totResP{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2B2B2B;

    position: absolute;
    left: 0;
    top: 28px;
}