.text {
  width: 158px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 24px;
  border: none;
  color: #175bc0;
  background-color: #ffffff;
}

.fill {
  width: 158px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 12px;
  border: none;
  color: #3c86f4;
  background: rgba(60, 134, 244, 0.2);
}

.outline {
  width: 158px;
  height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 12px;
  color: #175bc0;
  border: none;
  outline: none;
  background-color: transparent;
}
