.signIn,
.goBackButton,
.signInWithGoogle,
.signUp {
  width: 158px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  border-radius: 12px;
  border: none;
}

.goBackButton {
  background: #d8e7ff;
  color: #000000;
}

.signIn,
.signUp {
  color: #175bc0;

  background-color: #d8e7ff;
}

.signInWithGoogle {
  color: #fff;
  background-color: brown;
}
