.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.content {
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

.grid_container,
.item_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5px;
  background-color: #f0f0f0;
}

.grid_header {
  padding: 5px;
  justify-self: center;
  align-self: center;
}

.item_container {
  background-color: #fff;
}

.grid_item {
  background-color: #fff;
  padding: 5px;
  justify-self: center;
  align-self: center;
}
