.signin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  height: 40px;

  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  padding: 10px;

  margin-bottom: 20px;
}

input:focus {
  outline: none;
}

.buttonsAndText_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonsAndText_container button {
  margin-bottom: 30px;
}

span {
  font-size: 12px;
  line-height: 16px;
}

span a {
  font-weight: 900;
}

.error {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;

  text-align: center;
  overflow: hidden;
  color: #ec3030;
  margin-bottom: 20px;
}
