.itemWrapper{
    display: inline-flex;
    width: 1020px;
    min-height: 48px;
}

.numberDiv{
    display: flex;
    width: 48px;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}

.entryDiv{
    display: flex;
    width: 115px;
    min-height: 48px;
    padding-left: 12px;
    text-align: left;
    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #175BC0;
    margin-right: 2px;
}

.entryNameDiv{
    display: flex;
    width: 166.5px;
    min-height: 48px;
    padding-left: 12px;
    text-align: left;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #2B2B2B;
    margin-right: 2px;
}

.genesDiv{
    display: flex;
    width: 166.5px;
    min-height: 48px;
    padding-left: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2B2B2B;
    margin-right: 2px;
}

.organismDiv{
    display: flex;
    width: 166.5px;
    min-height: 48px;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2B2B2B;
    margin-right: 2px;
}

.organismInsideDiv{
    padding: 2px 12px;
    min-height: 23px;
    background: #D8E7FF;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 138px;
    margin-top: 14.5px;
    margin-bottom: 14.5px;
}

.subcelDiv{
    display: flex;
    width: 191px;
    min-height: 48px;
    align-items: center;
    padding-left: 12px;
    text-align: left;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2B2B2B;
    margin-right: 2px;
}

.lengthDiv{
    display: flex;
    width: 166.5px;
    min-height: 48px;
    align-items: center;
    padding-left: 12px;
    text-align: left;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2B2B2B;
    margin-right: 2px;
}

.span{
    width: 100%;
}