.searchInputWrapper{
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 79.6%;
}

.searchInput{
    width: 76.3%;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #2B2B2B;
    padding-left: 16px;
}

.searchInput::placeholder{
    color: #9F9F9F;
}

.searchButton{
    background: rgba(60, 134, 244, 0.2);
    border-radius: 8px;
    color: #3C86F4;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 17.5%;
    height: 40px;
    margin-left: 9px;
}

.filter{
    margin-left: 13px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(60, 134, 244, 0.2);
    border-radius: 8px;
    display: flex;
    position: relative;
}

.filter-opened{
    margin-left: 13px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #3C86F4;
    border-radius: 8px;
    display: flex;
    position: relative;
}

.dot{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #3C86F4;
    border-radius: 50%;
    right: -3px;
    top: -4px;
}