.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
  padding: 30px 30px;
  position: absolute;
  width: 456px;
 
  left: calc(50% - 456px / 2);
  top: 198px;

  background-color: #ffffff;
  border-radius: 12px;
}
