.search-result{
    height: 48px;
    overflow: hidden;
    cursor: pointer;
}
.search-result:hover{
    background-color: #eee;
}
thead .search-result:hover{
    background-color: initial;
    cursor: initial;
}
.search-result p {
    max-height: 48px;
    text-overflow: ellipsis;
    line-height: 24px;
    overflow: hidden;
    
}
.search-table {
    border-spacing: 0;
}
.search-result > td{
    height: 48px;
    padding: 15px 12px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.search-result__id{
    
    width: 48px;
}
.search-result__entry{
    width: 115px; 
    
}
tbody .search-result__entry{
    color: #175BC0;
    
}

.search-result__entry-names{
    width: 166px; 
}
.search-result__genes{
    width: 166px;
}
.search-result__organism{
    width: 166px;
    text-align: center;
    
}
tbody .search-result__organism > p{
   
    overflow: hidden;
    background: #D8E7FF;
    
    border-radius: 12px;
}
.search-result__subcellular-location{
    width: 191px;
}
.search-result__length{
    width: 166px;
}