.gridHeaders{
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 1020px;
}

.number{
    width: 47px;
    height: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    margin-right: 2px;
}

.entry{
    position: relative;
    width: 114px;
    height: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.entryP{
    position: absolute;
    left: 12px;
}

.logo{
    position: absolute;
    right: 12px;
}

.entryName{
    position: relative;
    width: 165.5px;
    height: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.subcel{
    position: relative;
    width: 190px;
    height: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.length{
    position: relative;
    width: 160.5px;
    height: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;

}

@media only screen and (max-width: 1000px) {
    .logo{
        display: none;
    }
    
    .entryP{
        position: relative;
        left: 0;
    }
  }

  @media only screen and (max-width: 930px) {
   .subcel{
    display: none;
   }
  }

  @media only screen and (max-width: 730px) {
    .entryNameD{
     display: none;
    }
   }