.sequence {
  margin-bottom: 20px;
}
.description {
  display: flex;
  align-items: flex-start;
  color: #616161;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.lengthAndMass {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.margin_bottom {
  margin-bottom: 20px;
}

.section {
  font-size: 14px;
  width: 100%;
  background-color: #f5f6f8;
  border-radius: 8px;
  padding: 10px;
  word-wrap: break-word;
}
