.searchField {
  height: 40px;
  width: 95%;
  padding: 10px;
  color: #2b2b2b;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}

.formInput {
  width: 100%;
  height: 40px;

  background-color: #f5f5f5;
  border: none;
  border-radius: 8px;
  padding: 10px;

  margin-bottom: 20px;
}

.error {
  border: 2px solid red;
}
