@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth.ttf");
}
#root {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
.authPage {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url("./assets/dna.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
