.detailsTab{
    width: 100%;
}

.sequence{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    margin-top: 24px;
}

.sequenceHeader{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    align-self: flex-start;
}

.sequenceItselfWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.imgWrapper{
    display: flex;
    max-width: 998px;
    justify-content: right;
    gap: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.sequenceItself{
    max-width: 998px;
    margin-top: 7px;
    background: #F2F2F2;
    border-radius: 8px;
    padding: 12px 12px 11px 13px;
    overflow-wrap: break-word;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}