.authCard {
  width: 456px;
  background: #ffffff;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
}
.authCard h2 {
  text-align: center;
}

.btn__auth:hover {
  color: white;
}
.authCard__link {
  font-weight: 800;
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}
.authCard__error {
  color: #ec3030;
  font-size: 12px;
}
.authCard__footer {
  text-align: center;
}
